<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata | Category{% endtrans %}</title>
  <style media="screen">
  .fixed-table td {
      font-size: 75%;
      padding: 4 !important;
      margin: 4 !important;
    }
  .fixed-table tbody {
      display:block;
      height: calc(100vh - 25em);
      min-height: 200px;
      overflow-y:scroll;
  }

  .fixed-table thead ,.fixed-table tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  .fixed-table thead {
      width: calc( 100% - 0.75em )
  }
  .fixed-edit-table td {
      font-size: 75%;
      padding: 4 !important;
      margin: 4 !important;
    }
  .fixed-edit-table tbody {
      display:block;
      height: calc(100vh - 29em);
      overflow-y:scroll;
  }

  .fixed-edit-table thead ,.fixed-edit-table tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  .fixed-edit-table thead {
      width: calc( 100% - 0.75em )
  }

  </style>
</head>
<body>
  <div class="container-fluid row">
    <ul class="nav nav-pills nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#category_create" aria-controls="category_create" role="tab" data-toggle="tab">{% trans %}Create Category{% endtrans %}</a></li>
      {% if gkresult != 0 %}
      <li role="presentation"><a href="#category_edit" aria-controls="category_edit" role="tab" data-toggle="tab">{% trans %}Edit Category{% endtrans %}</a></li>
      {% endif %}
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="category_create">

      </div>
      <div role="tabpanel" class="tab-pane" id="category_edit">

      </div>
    </div>


  </div>
</div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/category.js')}}"></script>
</body>
</html>
