<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Bank Reconciliation{% endtrans %} | {% trans %}Cleared Transactions{% endtrans %} | {{ledgerheader["accountname"]}}</title>
  <style type="text/css">

  .rightJustified{
    text-align:right;
  }

  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #clrbankrecontable td,#stmttable td {
      font-size: 75%;
      color: black;
      padding: 4 !important;
      margin: 4 !important;
    }
  #clrbankrecontable th {
      font-size: 85%;
  }
  .fixed-table tbody {
      display:block;
      height: calc(100vh - 15em);
      overflow-y:scroll;
  }

  .fixed-table thead ,.fixed-table tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  .fixed-table thead {
      width: calc( 100% - 0.7em )
  }
  .ralign{
    text-align:right;

  }
  .cred{
    color:red;
  }
  .calign{
    text-align:center;
  }

  </style>
</head>
<body>
  <div class="alert alert-danger" id="date-alert"  aria-live="rude" role="alert" hidden>

    <label>{% trans %}Please enter date in proper format!{% endtrans %}</label>
  </div>
  <div class="alert alert-danger" id="between-date-alert"  aria-live="rude" role="alert" hidden>

    <label>{% trans %}Clearance date cannot be before the voucher date!{% endtrans %}</label>
  </div>
  <input type="hidden" id="accountcode" name="accountcode" value="{{ledgerheader["accountcode"]}}"></input>
  <input type="hidden" id="accountname" name="accountname" value="{{ledgerheader["accountname"]}}"></input>
  <input type="hidden" id="calculatefrom" name="calculatefrom" value="{{ledgerheader["calculatefrom"]}}"></input>
  <input type="hidden" id="calculateto" name="calculateto" value="{{ledgerheader["calculateto"]}}"></input>
  <input type="hidden" id="narrationflag" name="narrationflag" value="{{ledgerheader["narrationflag"]}}"></input>
  <div id="clrtrans" class="table-responsive">
    <span class="pull-right hidden-print header"><i>{% trans %}Period{% endtrans %}</i> : <b>{{ledgerheader["calculatefrom"]}}</b> {% trans %}to{% endtrans %} <b>{{ledgerheader["calculateto"]}}</b></span>
    <span style="margin:auto; display:table;" class="hidden-print header"><i>{% trans %}Cleared Transactions of{% endtrans %}</i> : <b>{{ledgerheader["accountname"]}}</b></span>
    <table id="clrbankrecontable" class=" table shadow table-bordered fixed-table">
      <thead class="bg-primary">
        <tr id="printhead" style="display:none">
          <th class="text-center visible-print" style="font-size:80%" colspan="6">
            <i>{% trans %}Cleared Transactions of{% endtrans %}</i> : <b>{{ledgerheader["accountname"]}}</b><br>
            <i>{% trans %}Period{% endtrans %}</i> : <b>{{ledgerheader["calculatefrom"]}}</b> {% trans %}to{% endtrans %} <b>{{ledgerheader["calculateto"]}}</b>
          </th>
        </tr>
        <tr >
          <th class="col-xs-1">{% trans %}Date{% endtrans %}</th>
          <th class="col-xs-1">{% trans %}V. No.{% endtrans %}</th>
          <th class="col-xs-2 hidden-print">{% trans %}Particulars{% endtrans %}</th>
          <th class="col-xs-4 visible-print">{% trans %}Particulars{% endtrans %}</th>
          <th class="col-xs-2 ralign">{% trans %}Debit{% endtrans %}</th>
          <th class="col-xs-2 ralign">{% trans %}Credit{% endtrans %}</th>
          <th class="col-xs-2">{% trans %}Clearance Date{% endtrans %}</th>
          <th class="col-xs-2 hidden-print">{% trans %}Memo{% endtrans %}</th>

        </tr>
      </thead>
        </tr>
      </thead>
      <tbody>
        {% for record in recongrid %}
        <tr  value="{{record['reconcode']}}">
          <td class="col-xs-1">
            {{record['date']}}
          </td>
          <td class="col-xs-1">
            {{record['vno']}}
          </td>
          <td class="col-xs-2 hidden-print">
            {{record['particulars']}}
            {% if record['narration']!="" and narrationflag==true %}
            <br>
            ({{record['narration']}})
            {% endif %}
          </td>
          <td class="col-xs-4 visible-print">
            {{record['particulars']}}
            {% if record['narration']!="" and narrationflag==true %}
            <br>
            ({{record['narration']}})
            {% endif %}
          </td>
          <td class="col-xs-2 ralign">
            {{record["dr"]}}
          </td>
          <td class="col-xs-2 ralign">
            {{record["cr"]}}
          </td>
          <td class="col-xs-2 hidden-print">
            <input class="form-control input-sm clrdate" type="text"  maxlength="10" placeholder="DD-MM-YYYY" value="{{record["clearancedate"]}}">
          </td>
          <td class="col-xs-2 hidden-print">
            <input class="form-control input-sm memo " type="text" value="{{record["memo"]}}">
          </td>
          <td class="col-xs-2 visible-print">
            {{record["clearancedate"]}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id = "recostmtdiv" class="container hides">
    <div class="table-responsive col-xs-8 col-xs-offset-2">
      <table id="stmttable" class=" shadow table table-striped table-condensed">
        <tbody id="stmttablebody">
          {% for record in reconstmt %}
          <tr>
            <td class="col-xs-8">
              {{record["particulars"]}}
            </td>
            <td class="col-xs-4" style="text-align:right">
              {{record["amount"]}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
    <span class="hidden-print" style="margin:auto; display:table;">
      <button class="btn btn-sm btn-danger" type="button" id="bankrecon_back" accesskey="e">{% trans %}R<u>e</u>conciliation Menu{% endtrans %}</button>
      <button class="btn btn-sm btn-primary" type="button" id="unclrditems" accesskey="a">{% trans %}Uncle<u>a</u>red Items{% endtrans %}</button>
      <button class="btn btn-sm btn-primary" type="button"  id="viewstatement">{% trans %}View Statement{% endtrans %}</button>
      <button class="btn btn-sm btn-primary" type="button"  id="printstatement" accesskey="s"><u>{% trans %}S</u>tatement's Printable Version{% endtrans %}</button>
      <button class="btn btn-sm btn-primary" type="button"  id="printtransactions" accesskey="t"><u>{% trans %}T</u>ransaction's Printable Version{% endtrans %}</button>
      <button class="btn btn-sm btn-primary" type="button"  id="realprintbank" accesskey="t">{% trans %}Prin<u>t{% endtrans %}</u></button>
      <button class="btn btn-sm btn-primary" type="button"  id="back" accesskey="b"><u>{% trans %}B</u>ack{% endtrans %}</button>
    </span>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/clearedbankreconreport.js')}}"></script>
</body>
</html>
