<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" />
	<title>
		{% trans %}GNUKhata{% endtrans %}
	</title>

	<style>
	.login-box{
		background-color: rgba(220, 225,225,0.4);
	}
	.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
		background: inherit;
}
	</style>

</head>
<body>
	<div id="loginbox"  class="mainbox">
		<div class="panel" >
			<div class="panel-heading">
				<div class="panel-title">{% trans %}Create Admin{% endtrans %}</div>

			</div>

			<div style="padding-top:30px" class="panel-body" >
				<form id="loginform" method="post" class="form-horizontal">
					<div class="alert alert-danger" id="usrname-blank-alert" hidden>
						<a href="#" class="close" aria-label="close">&times;</a>
						{% trans %}Please enter username!{% endtrans %}
					</div>
					<div class="alert alert-danger" id="pasword-blank-alert" hidden>
						<a href="#" class="close" aria-label="close">&times;</a>
						{% trans %}Please enter password!{% endtrans %}
					</div>
					<div class="alert alert-danger" id="confpass-blank-alert" hidden>
						<a href="#" class="close" aria-label="close">&times;</a>
						{% trans %}Please re-enter password!{% endtrans %}
					</div>
					<div class="alert alert-danger" id="checkpass-blank-alert" hidden>
						<a href="#" class="close" aria-label="close">&times;</a>
						{% trans %}Password not confirmed!{% endtrans %}
					</div>
					<div class="alert alert-danger" id="secuque-blank-alert" hidden>
						<a href="#" class="close" aria-label="close">&times;</a>
						{% trans %}Please enter security question!{% endtrans %}
					</div>
					<div class="alert alert-danger" id="secuans-blank-alert" hidden>
						<a href="#" class="close" aria-label="close">&times;</a>
						{% trans %}Please enter the answer of security question!{% endtrans %}
					</div>


					<div style="margin-bottom: 5px" class="col-xs-12 from-group">


<label for="username">{% trans %}<u>U</u>sername{% endtrans %} : </label>
<input type="text" id="username" class="form-control" name="username" accesskey="u"></input>
<br/>
<label for="password">{% trans %}<u>P</u>assword{% endtrans %} : </label>
<input type="password" id="password" class="form-control" name="password" accesskey="p"></input>
<br/>
<label for="confirmpassword">{% trans %}<u>C</u>onfirm Password{% endtrans %} : </label>
<input type="password" name="confirmpassword" id="confirmpassword" class="form-control" value="" accesskey="c"></input>
<br/>
<label for="securityanswer">{% trans %}Security <u>Q</u>uestion{% endtrans %} : </label>
<input type="text" class="form-control" value="" id="securityquestion" name="securityquestion" accesskey="q"></input>
<br/>
<label for="securityanswer">{% trans %}<u>A</u>nswer to  Security Question{% endtrans %} : </label>
<input type="text" class="form-control" value="" id="securityanswer" name="securityanswer" accesskey="a"></input>
<input type="hidden" class="form-control" value="{{orgname}}" id="orgname" name="orgname"></input>
<input type="hidden" class="form-control" value="{{orgtype}}" id="orgtype" name="orgtype"></input>
<input type="hidden" class="form-control" value="{{invflag}}" id="invflag" name="invflag"></input>
<input type="hidden" class="form-control" value="{{fromdate}}" id="yearstart" name="yearstart"></input>
<input type="hidden" class="form-control" value="{{todate}}" id="yearend" name="yearend"></input>
<br/>
<button type="submit" class="btn btn-success" accesskey="l">{% trans %}Create & <u>L</u>ogin{% endtrans %}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="spinmodal" tabindex="-1" class="modal text-center fade" role="dialog">
		<div class="vertical-alignment-helper">
				<div class="modal-content vertical-align-center">
					<div class="modal-body">
						<i class="fa fa-spinner fa-spin" style="color:white; font-size:50px"></i>
					</div>
				</div>
		</div>
	</div>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/createadmin.js')}}"></script>


</body>

</html>
