<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata | Customer and Supplier{% endtrans %}</title>
</head>
<body>
  <div class="container-fluid">
    <ul class="nav nav-pills nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="" id="customersupplier_create" role="tab" data-toggle="tab">{% trans %}Create Customer/Supplier{% endtrans %}</a></li>
      <li role="presentation"><a href="" id="customersupplier_edit" role="tab" data-toggle="tab">{% trans %}Edit Customer/Supplier{% endtrans %}</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="customersupplier_div">

      </div>
    </div>


  </div>
</div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/customersupplier.js')}}"></script>
</body>
</html>
