<body>
  <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">
    <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Delivery note saved.{% endtrans %}
    </div>
    <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Something went wrong!{% endtrans %}
    </div>
    <div class="alert alert-success" id="success-delete-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Delivery note cancelled.{% endtrans %}
    </div>
    <div class="alert alert-danger" id="failure-delete-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Delivery Note cannot be cancelled!{% endtrans %}
    </div>

    <div class="panel shadow deliverychallan_edit_panel">
      <div class="panel-body">
        <div class="container-fluid row">

          <div class="form-group col-md-5">
            <label for="deliverychallan_edit_list">{% trans %}Delivery Note{% endtrans %} :</label>
            <select class="form-control input-sm" id="deliverychallan_edit_list">
              <option value="" disabled selected hidden>{% trans %}Select Delivery Note{% endtrans %}</option>
              {% for dc in delchals %}
              <option value="{{dc['dcid']}}">{{dc["dcno"]}}, {{dc["custname"]}}</option>
              {% endfor %}
            </select>
            <div class="alert alert-danger nopadding" id="cancelmsg"  aria-live="rude" role="alert" hidden>
              <strong id="alertstrong"></strong>
            </div>
          </div>
        </div>
        <div class="col-md-5 deliverychallan_edit_div" hidden>
          <div class="alert alert-danger" id="custsup-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please select a customer/supplier!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="date-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter date!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="challanno-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter note no.!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="date-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter date in proper format!{% endtrans %}</label>
          </div>
          <div class="form-group">
            <label for="deliverychallan_edit_challanno">{% trans %}Note No{% endtrans %} :</label>
            <input class="form-control input-sm deliverychallan_edit_disable" id="deliverychallan_edit_challanno" placeholder="{% trans %}Enter challan no{% endtrans %}" accesskey="a">
          </div>
            <div class="form-group">
              <label for="deliverychallan_edit_date">{% trans %}Date{% endtrans %} :</label>
              <div class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control deliverychallan_edit_disable input-sm delchaldate" size="2" maxlength="2" placeholder="DD" id="deliverychallan_edit_date" accesskey="v">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control deliverychallan_edit_disable input-sm delchaldate" size="2" maxlength="2" placeholder="MM" id="deliverychallan_edit_month" accesskey="v">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control deliverychallan_edit_disable input-sm delchaldate" size="4" maxlength="4" placeholder="YYYY" id="deliverychallan_edit_year" accesskey="v">
                  </div>
              </div>
            </div>
            <div class="form-group">
              <label for="deliverychallan_edit_customer" id="clabel">{% trans %}Customer{% endtrans %} :</label>
              <label for="deliverychallan_edit_customer" id="slabel">{% trans %}Supplier{% endtrans %} :</label>
              <select class="form-control deliverychallan_edit_disable input-sm" id="deliverychallan_edit_customer" accesskey="">
                <optgroup id="customersgroup">
                  {% for customer in customers %}
                  <option value="{{customer['custid']}}">{{customer["custname"]}}</option>
                  {% endfor %}
                </optgroup>
                <optgroup id="suppliersgroup">
                  {% for supplier in suppliers %}
                  <option value="{{supplier['custid']}}">{{supplier["custname"]}}</option>
                  {% endfor %}
                </optgroup>
              </select>
            </div>
            <div class ="form-group">
              <label for="deliverychallan_customeraddr">
                {% trans %}Address{% endtrans %} :
              </label>
              <input class="form-control input-sm" id="deliverychallan_customeraddr" accesskey="" disabled>
            </div>
            <div class="form-group">
              <label for="deliverychallan_edit_godown" id="fgolabel">{% trans %}From Godown{% endtrans %} :</label>
              <label for="deliverychallan_edit_godown" id="tgolabel">{% trans %}To Godown{% endtrans %} :</label>
              <select class="form-control deliverychallan_edit_disable input-sm" id="deliverychallan_edit_godown" accesskey="">
                <option value=""  selected>{% trans %}None{% endtrans %}</option>
                {% for godown in godowns %}
                <option value="{{godown['goid']}}">{{godown["goname"]}} ({{godown["goaddr"]}})</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="deliverychallan_edit_consignment">Type of Transaction:</label>
              <select class="form-control deliverychallan_edit_disable input-sm" id="deliverychallan_edit_consignment" accesskey="">
                <option value="16">{% trans %}Purchase{% endtrans %}</option>
                <option value="4">{% trans %}Sale{% endtrans %}</option>
                <option value="1">{% trans %}Approval{% endtrans %}</option>
                <option value="3">{% trans %}Consignment{% endtrans %}</option>
                <option value="19">{% trans %}Sample{% endtrans %}</option>
                </select>
              </label>
            </div>
          </div>
          <div class="col-md-7 deliverychallan_edit_div" id="deliverychallan_edit_product_div" hidden>
            <div class="alert alert-danger" id="product-blank-alert"  aria-live="rude" role="alert" hidden>

              <label for="vno">{% trans %}Please select a product!{% endtrans %}</label>
            </div>
            <div class="alert alert-danger" id="quantity-blank-alert"  aria-live="rude" role="alert" hidden>

              <label for="vno">{% trans %}Please enter quantity!{% endtrans %}</label>
            </div>
            <div class="panel">
            <table id="deliverychallan_edit_product_table" class="table shadow table-condensed table-bordered fixed-edit-table">
              <thead class="bg-primary">
                <tr>
                  <th class="col-xs-7">{% trans %}Product{% endtrans %}</th>
                  <th class="col-xs-4 text-center">{% trans %}Quantity{% endtrans %}</th>
                  <th class="col-xs-1"></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            </div>
            <div class="col-md-6">
              <label for="deliverychallan_edit_noofpackages">{% trans %}Number of Packages{% endtrans %} :</label>
              <input type="text" class="form-control deliverychallan_edit_disable input-sm text-right" id="deliverychallan_edit_noofpackages" value="">
            </div>
            <div class="col-md-6">
              <label for="deliverychallan_edit_modeoftransport">{% trans %}Mode of Transport{% endtrans %} :</label>
              <input type="text" class="form-control deliverychallan_edit_disable input-sm" id="deliverychallan_edit_modeoftransport">
            </div>
            <div class="col-md-6">
              <br>
              <label for="deliverychallan_edit_issuername">{% trans %}Issuer's Name{% endtrans %} :</label>
              <input type="text" class="form-control deliverychallan_edit_disable input-sm" id="deliverychallan_edit_issuername" placeholder="Enter name">
            </div>
            <div class="col-md-6">
              <br>
              <label for="deliverychallan_edit_designation">{% trans %}Designation{% endtrans %} :</label>
              <input type="text" class="form-control deliverychallan_edit_disable input-sm" id="deliverychallan_edit_designation" placeholder="Enter designation">
            </div>
        </div>
      </div>
      <div class="panel-footer" hidden>
        <div class="container-fluid">
        <button class="btn btn-danger btn-sm" id="deliverychallan_edit_delete">{% trans %}Cancel{% endtrans %}</button>
        <button id="deliverychallan_editprint" class="btn btn-primary btn-sm" >{% trans %}Print{% endtrans %}</button>
      </div>
      </div>
    </div>

    <div id="confirm_del" class="modal fade" tabindex="-1" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title">{% trans %}Cancel?{% endtrans %}</h4>
            </div>
            <div class="modal-body">
              <p>{% trans %}Are you sure?{% endtrans %}</p>
            </div>
            <div class="modal-footer">
              <button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal">{% trans %}No{% endtrans %}</button>
              <button type="button" id="deldel" data-dismiss="modal" class="btn btn-danger">{% trans %}Yes{% endtrans %}</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
    </div>
  </div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/editdeliverychallan.js')}}"></script>
</body>
