<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}View Cash Flow{% endtrans %}</title>
    <style media="screen">
    .shadow {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    label {
  		font-size: 90%;
  	}
    </style>
  </head>
  <body>
    <div style="padding-top:5px" class="container-fluid mainbox col-md-4 col-md-offset-4">
    <div class="panel shadow">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans %}View Cash Flow{% endtrans %}</h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-danger" id="date-alert" aria-live="rude" role="alert" hidden>

          <label for="cashfl_fromdate">{% trans %}Please enter date in proper format!{% endtrans %}</label>
        </div>
        <div class="alert alert-danger" id="between-date-alert" aria-live="rude" role="alert" hidden>

          <label for="cashfl_fromdate">{% trans %}Please enter date within the financial year!{% endtrans %}</label>
        </div>
        <div class="alert alert-danger" id="compare-date-alert" aria-live="rude" role="alert" hidden>

          <label for="cashfl_todate">{% trans %}From date should be smaller or equal to to date !{% endtrans %}</label>
        </div>
        <label for="cashfl_fromdate">{% trans %}From{% endtrans %} :</label>
        <div class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control input-sm cashfl_autotab" id="cashfl_fromdate" value="" size="2" maxlength="2" placeholder="DD" accesskey="d">
            <input type="text" class="form-control input-sm cashfl_autotab" id="cashfl_frommonth" value="" size="2" maxlength="2" placeholder="MM">
            <input type="text" class="form-control input-sm cashfl_autotab" id="cashfl_fromyear" value="" size="4" maxlength="4" placeholder="YYYY">
          </div>
        </div>
        <br>
        <label for="cashfl_todate">{% trans %}To{% endtrans %} :</label>
        <div class="form-inline">
          <div class="form-group">

          <input type="text" class="form-control input-sm cashfl_autotab" id="cashfl_todate" value=""  size="2" maxlength="2" placeholder="DD">
          <input type="text" class="form-control input-sm cashfl_autotab" id="cashfl_tomonth" value="" size="2" maxlength="2" placeholder="MM">
          <input type="text" class="form-control input-sm cashfl_autotab" id="cashfl_toyear" value="" size="4" maxlength="4" placeholder="YYYY">
        </div>
        </div>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-sm btn-success" name="button" id="cashfl_view" accesskey="v">{% trans %}<u>V</u>iew{% endtrans %}</button>
        <button type="button" name="button" class="btn btn-sm btn-danger" id="cashfl_reset" accesskey="e">{% trans %}R<u>e</u>set{% endtrans %}</button>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewcashflow.js')}}"></script>
  </body>
</html>
